/*
Well hello there! Thanks for taking a look around. If you are curious about the SCSS document feeding this main.css, just swap out the suffix in your browser's address bar.
*/

// =======================================================================
// CSS by Seth Akkerman
// Hugely inspired by the organizational skills of Elliot Jay Stocks
// Last updated: 09/24/2015
// =======================================================================
// Contents:
// 01 Meyer Reset
// 02 SASS Mixins
// 03 SASS Variables
// 04 Typography
//	- Rendering
//	- Families
//	- Headings
//	- Links
//	- Paragraphs, Lists, Other
// 05 Basic Layout
// 06 Toggle Switch
// =======================================================================

// =========================
//	01 Meyer Reset
// =========================

@import "meyer-reset.scss";

// =========================
//	02 SASS Mixins
// =========================

// Mixins for the Toggle
@mixin crater($top, $left, $size) {
  content: '';
  position: absolute;
  top: $top;
  left: $left;
  width: $size;
  height: $size;
  background-color: #EFEEDA;
  border-radius: 100%;
  border: 2px solid #DEE1C5;
}

@mixin cloudBubble($top, $right, $width, $height, $deg) {
  content: '';
  display: block;
  position: relative;
  top: $top;
  right: $right;
  width: $width;
  height: $height;
  border: 8px solid #D4D4D2;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  transform: rotateZ($deg);
  background-color: #fff;
}

// =========================
//	03 SASS Variables
// =========================

// 480px / 16 = 30em
$width-tiny: 30em; 
// 900px / 16 = 56.250em
$width-medium: 56.250em; 
$font-sans: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif: "abril-fatface", Georgia, "Times New Roman", Times, serif;

// =========================
//	04 Typography
// =========================

@font-face {
    font-family: 'Icons';
    src: url('../fonts/seth_ico-webfont.eot');
    src: url('../fonts/seth_ico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/seth_ico-webfont.woff') format('woff'),
         url('../fonts/seth_ico-webfont.ttf') format('truetype'),
         url('../fonts/seth_ico-webfont.svg#seth_ico') format('svg');
    font-weight: normal;
    font-style: normal;
}

//There seems to be a bug rendering fonts in mozilla on macs.
//The moz-osx css line fixed the visual issue.
//This may only be necessary when there is only one font served from typekit and the weights are specified by numerical values.
html { 
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body { 
	font:400 90%/1.65em $font-sans;
	color:rgba(33,33,33,1.0);
	text-rendering:optimizeLegibility;
}

// 53pt / 16 = 3.3125em
h1 {
	font-style:normal;
	font-weight:400;
	color:#222; 
	font-family: $font-serif;
	padding:.25em 0em;	
	font-size:3.3125em;
	line-height:1.07em;
	text-align:center;
	display:block;
}

ul {
	font-style:normal;
	font-weight:400;
	color:#000;
	font-family: $font-sans;	
	text-align:center;
}

strong {
	color:#999999;
	font-weight:700;	
}

a {
	text-decoration:none;
	color:#444749;
}

p, li {
	padding:0 0.125em;
	font-size:1.21em;	
}

li {
	list-style:none;	
}

.icon_font {
	width: 70px;
	margin: 0 auto;
	overflow:hidden;
	margin-top:1em;
	li {
		font-family:"Icons";
		font-weight:normal;
		font-size:30px;
		color:#777777;
		float:left;
		-webkit-font-smoothing:antialiased;	
		&:first-child {
			padding-right:10px;
		}
	}
}

// =========================
//	05 Basic Layout
// =========================

// Apply a natural box layout model to all elements see http://paulirish.com/2012/box-sizing-border-box-ftw
* { 
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	height:100%;	
}

body {
	background-color: #444749;
	background: -webkit-linear-gradient(#00aeef , #73bf43); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00aeef, #73bf43); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00aeef, #73bf43); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00aeef , #73bf43); /* Standard syntax (must be last) */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#73bf43',GradientType=0 ); 
	width:100%;
	height:100%;
	margin:0 auto;
	background-repeat:no-repeat;
	background-attachment:fixed;	
	@media screen and (min-width: $width-medium) {
		background: -webkit-linear-gradient(left top, #00aeef , #73bf43); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(bottom right, #00aeef, #73bf43); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(bottom right, #00aeef, #73bf43); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to bottom right, #00aeef , #73bf43); /* Standard syntax (must be last) */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#73bf43',GradientType=0 ); 
	}
}

// For absolutely positioning elements within containers
div,
article,
section,
header,
footer,
nav,
figure,
li { position:relative; }

div {
	position:inherit;	
}

img {
	max-width:100%;	
}

figure.profile_image {
	height:200px;
	width:200px;	
	-moz-border-radius: 100%;
	-khtml-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	overflow:hidden;
	@media screen and (min-width: $width-medium) {
		height:220px;
		width:220px;
	}
}

.balls {
	height:200px;
	width:200px;
	margin:0 auto;
	position:relative;
	@media screen and (min-width: $width-medium) {
		height:220px;
		width:220px;
	}
}

.family_member {
	width:100%;
	height:420px;
	left:0;
	top:0;
	padding:30px 0px 25px 0px;
	@media screen and (min-width: $width-medium) {
		width:50%;
		height:100%;
		left:0;
		top:0;
		position:absolute;
		padding:150px 0px 0px 125px;
	}
}

.family_member_right {
	@media screen and (min-width: $width-medium) {
		left:auto;
		right:0;
		padding:150px 125px 0px 0px;
	}
}

.button {
	position:relative;
	top:-370px;
	left:-85px;
	width:100px;
	margin:0 auto;
	@media screen and (min-width: $width-medium) {
		left:-105px;
	}
	img {
		-webkit-filter: drop-shadow(0 1px 0 rgba(0,0,0,0.3));
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#CCC')";
		filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=1, Color='#CCC')";
		width:90px;	
	}
}

// =========================
//	06 Toggle Switch
// =========================

/////////////////////////////////////////////////
// Day State
/////////////////////////////////////////////////
.toggle-wrapper {
	padding-top:40px;
	text-align:center;	
}

.toggle {
  position: relative;
  display: inline-block;
  width: 90px;
  /*margin-left: 100px;*/
  padding: 4px;  
  border-radius: 40px;
}

.toggle:before,
.toggle:after {
  content: '';
  display: table;
}

.toggle:after {
  clear: both;
}

.toggle-bg {
  position: absolute;
  top: 0px;/*-4*/
  left: 0px;/*-4*/
  width: 100%;  
  height: 100%;
  background-color: #C0E6F6;
  border-radius: 40px;
  border: 4px solid #81C0D5;
  transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.toggle-input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;  
  height: 100%;
  border: 1px solid red;
  border-radius: 40px;
  z-index: 2;
  opacity: 0;
  cursor:pointer;
}

.toggle-switch {
  position: relative;
  width: 32px;
  height: 32px;
  margin-left: 50px;
  background-color: #F5EB42;
  border: 4px solid #E4C74D;
  border-radius: 50%;
  transition: all .1s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.toggle-switch-figure {  
  position: absolute;
  bottom: -10px;
  left: -50px;
  display: block;
  width: 80px;
  height: 30px;
  border: 8px solid #D4D4D2;
  border-radius: 20px;  
  background-color: #fff;
  transform: scale(0.4);
  transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  &:after {
    @include cloudBubble(-56px, -32px, 15px, 15px, 70deg);
  }
  &:before {
    @include cloudBubble(-24px, -6px, 21px, 21px, 30deg);
  }
}

.toggle-switch-figureAlt {
  @include crater(5px, 2px, 2px);
  
  box-shadow: 
    32px -2px 0 -1px #FCFCFC,
    43px -5px 0 -1px #FCFCFC,
    54px 2px 0 -1px #FCFCFC,
    44px 4px 0 0px #FCFCFC,
    51px 14px 0 0px #FCFCFC,
    39px 14px 0 -1px #FCFCFC,
    31px 12px 0 0px #FCFCFC;
  
  transition: all .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transform: scale(0);
}

.toggle-switch-figureAlt:before {
  @include crater(-5px, 5px, 6px);
}

.toggle-switch-figureAlt:after {
  @include crater(8px, 5px, 2px);
}

/////////////////////////////////////////////////
// Night State
/////////////////////////////////////////////////
.toggle-input:checked ~ .toggle-switch {
  margin-left: 0;
  border-color: #DEE1C5;
  background-color: #FFFDF2;
}

.toggle-input:checked ~ .toggle-bg {
  background-color: #484848;
  border-color: #202020;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
  margin-left: 40px;
  opacity: 0;
  transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
  transform: scale(1);
}